#target{
margin-left: 210px;
}

.SearchBar {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
    margin: 0 auto;
    width: 690px;
    position: relative;
    top: 15px;
}

input
{
    position: relative;
    outline: none;
    border: none;
    width:660px;
    top: 7px;
    margin-left: 15px;
    line-height: 22px;
}

#SideBySide
{
display: flex;
flex-direction:inherit;
justify-content: space-around;
margin-bottom: 16px;
box-sizing: border-box;
border-radius: 5px;
border: 1px solid #dadce0;
}

.blocks1
{
display: flex;
justify-content: center;
margin: 16px 0 16px 16px;
}


/* mid-tab */

.Options
{
    color: #70757a;
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
    border-bottom: 1px solid #ebebeb;
    margin-top: -21px;
    position: relative;
    z-index: 126;
}

.OptionsDiv
{
    background: #fff;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
}

#hdtb-msb {
    position: relative;
    white-space: nowrap;
    align-items: baseline;
    display: flex;
    -ms-flex-pack: justify;
    float: left;
    justify-content: space-between;
    min-width: 832px;
}


.OptionBar {
    display: inline;
    margin-left: 320px;
}

.hdtb-mitem {
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    display: inline-block;
    justify-content: space-between;
    padding: 17px 12px 11px 10px;
}

.hdtb-mitem a
{
    text-decoration: none;
    color: #5f6368;
}

.NewsBottom {
    background: #1a73e8;
    height: 3px;
    margin-top: 11px;
}

.keyHead {
    color: #202124;
    font-family: arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.25;
    white-space: normal;
    font-weight: bold;
    margin-left: 220px;
    margin-bottom: 10px;
}
/* .hdtb-msel
{
    color: #5f6368;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    padding: 8px 16px 8px 16px;
    padding: 17px 12px 11px 10px;
} */

/* Each Box Content */

.titles
{
    color: #202124;
    font-family: Roboto-Medium,sans-serif;
    font-size: 18px;
    line-height: 1.3333333333333333em;
    text-decoration: none;
}

.Providers 
{
    margin-bottom: 8px;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #202124;
}

.providerImg 
{
  height: 112px;
  width: 112px;
}

.providerNm 
{
    font-size: 12px arial;
    color: #212024;
}

.descriptions
{
    color: #70757a;
    font-size: 14px;
    line-height: 1.4285714285714286em;
    margin-top: 8px;
}

/* .container 
{
  width: 700px;
} */